---
permalink: /404.html
layout: default
---

<style type="text/css" media="screen">
  .container {
    margin: 10px auto;
    max-width: 600px;
    text-align: center;
  }
  h1 {
    margin: 30px 0;
    font-size: 4em;
    line-height: 1;
    letter-spacing: -1px;
  }
</style>

<div class="container">
  <h1>Test à venir</h1>

  <p><strong>Ce test sera disponible prochainement.</strong></p>
  <p>Nous vous tiendrons au courant.

    <br></br>Merci.</p>
</div>
