// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)



img.right-img {
  float: unset;
}

.button {
  font-size: 1em;
  background-color: whitesmoke  ;
  color: black;
  border: 1px grey solid ;
  padding: 0.8em 1em ;
  border-radius: 4px;
  display: inline-block;
  transition-duration: 0.2s;
}

.button:hover {
  background-color: lightgrey;
}

.disabled {
  cursor: not-allowed;
  opacity: 0.6;
}


div.footnotes::before {
  content: "---------------------------" ;
  }

div.footnotes {
  font-size: 0.9em;
  margin-top: 4em;
}

div.footnotes ol {
  margin-top: 1em;
}
